<!DOCTYPE html>
<html>
<head>
  <title>Layouts &raquo; Hero-Thirds</title>
  <link rel="stylesheet" type="text/css" href="../../assets/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="../../assets/css/keen-dashboards.css" />
</head>
<body class="application">
<script type="text/javascript" charset="utf-8">

    $(function() {
        new Highcharts.Chart({
            chart: {
                renderTo: "ejemplo"
            },
            title: {
                text: "Gastos de la empresa en el tiempo"
            },
            xAxis: {
                type: "datetime"
            },
            yAxis: {
                title: {
                    text: "$"
                }
            },
            series: [{
                name: "Gastos en el tiempo",
                pointInterval: <%= 1.day*1000%>,
                pointStart: <%= 1.weeks.ago.to_i * 1000 %>,
                data: <%= (1.weeks.ago.to_date..Date.today).map{|date| Banco.obtener_transacciones_dia date }.inspect %>
            },
            ]


        });


        new Highcharts.Chart({
            chart:{
                renderTo: "ejemplo3",

                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'

            },
            title: {
                text: "Categorias de gastos"},
            series: [{
                name: "Brands",
                colorByPoint: true,
                color: '#FF0000',
                data: [{
                    name: "Producir en fábrica",
                    y: <%=@fabrica %>
                }, {
                    name: "Grupo 3",
                    y: <%=@grupo_3 %>,
                    sliced: true,
                    selected: true
                }, {
                    name: "Grupo 4",
                    y: <%=@grupo_4 %>
                },
                    {
                        name: "Grupo 5",
                        y: <%=@grupo_5 %>
                    },
                    {
                        name: "Grupo 6",
                        y: <%=@grupo_6 %>
                    },{
                        name: "Grupo 7",
                        y:<%=@grupo_7 %>
                    }]
            }]


        });
    });

</script>

<h1 style="margin-top: -30px">Reporte contable</h1>
<hr>

<div class="container-fluid">

  <div class="row">
    <div class="col-sm-8">
      <div class="chart-wrapper">
<div id="ejemplo"></div>
        <div class="chart-stage">
          <div id="grid-1-1">
            <img data-src="holder.js/100%x240/white/text:#grid-1-1">
          </div>
        </div>

      </div>
    </div>
    <div class="col-sm-4">
      <div class="chart-wrapper">
        <div class="chart-title">
         Mi saldo actual:
        </div>
        <div class="chart-stage">
          <div style="text-align: center;font-size: 3em;color: red">$<%=@saldo%></div>
          <img data-src="holder.js/100%x240/white">
        </div>

      </div>
    </div>
    <div class="col-sm-4">
      <div class="chart-wrapper">

        <div class="chart-stage">
         <div id="ejemplo3"></div>
        </div>

      </div>
    </div>
  </div>




    <div class="col-md-8">
      <div class="chart-wrapper">
        <div class="chart-title">
         Ultimas transacciones

        </div>



        <div class="chart-stage">
          <% if !@transacciones.nil?%>
              <% if !@transacciones.empty?%>

                  <table border="1">
                    <col width="300px">
                    <col width="300px">
                    <col width="300px">
                    <tr>
                      <th>  Destino de la transaccion     </th>
                      <th> Monto    </th>
                      <th> Fecha </th>
                    </tr>


                    <%@transacciones.each do |pedido|%>
                        <tr>
                          <td><%=pedido.destino%></td>
                          <td><%=pedido.monto%></td>
                          <td ><%=pedido.created_at.strftime("%Y-%d-%m")%></td>

                        </tr>

                    <%end%>
                  </table>

              <%else%>
                  <p>No hay pedidos pendientes</p>
              <%end%>

          <%end%>
        </div>

      </div>
    </div>
    <!-- end of three -->



  </div>



<hr>

<p class="small text-muted">Built with &#9829; by <a href="https://keen.io">Keen IO</a></p>

</div>

<script type="text/javascript" src="../../assets/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="../../assets/lib/bootstrap/dist/js/bootstrap.min.js"></script>

<script type="text/javascript" src="../../assets/lib/holderjs/holder.js"></script>
<script>
    Holder.add_theme("white", { background:"#fff", foreground:"#a7a7a7", size:10 });
</script>

<script type="text/javascript" src="../../assets/lib/keen-js/dist/keen.min.js"></script>
<script type="text/javascript" src="../../assets/js/meta.js"></script>

</body>
</html>