<!DOCTYPE html>
<html>
<head>
  <title>Layouts &raquo; Hero-Thirds</title>
  <link rel="stylesheet" type="text/css" href="../../assets/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="../../assets/css/keen-dashboards.css" />
</head>
<body class="application">
<script type="text/javascript" charset="utf-8">

    $(function() {


    new Highcharts.Chart({
        chart:{
            renderTo: "ejemplo2",
        },
        title: {
            text: "Stock en bodega"},


        yAxis: {
            title:{
                text: "Cantidad"
            }
        },
        xAxis: {
            categories: ["Chocolate","Azucar", "Pasta de semola", "Madera", "Celulosa", "Huevo", "Sal", "Cacao", "Leche", "Semola"]
        },
        plotOptions: {
            series: {
                allowPointSelect: true
            }
        },
        series: [
            {
            type: 'column',
            name: "Cantidad de productos",
            data: [<%= @chocolate%>, <%= @azucar%>, <%= @pastasemola%> ,<%= @madera%>,<%= @celulosa%>,<%= @huevo%>, <%= @sal%>,<%= @cacao%>, <%= @leche%>,<%= @semola%>]

            },{     name: "Stock de emergencia",
                    type: 'scatter',
                    data: [800,1500,500,500,500,155,172,270,251,161],
                marker: {
                    lineWidth: 4,
                    lineColor: Highcharts.getOptions().colors[3],
                    fillColor: 'Red'
                }}

            ]


    });



    });

</script>

<h1 style="margin-top: -30px">Reporte de stock</h1>
<hr>

<div class="container-fluid">

  <div class="row">
    <div class="col-sm-12">
      <div class="chart-wrapper">
        <div id="ejemplo2"></div>
        <div class="chart-stage">
          <div id="grid-1-1">
            <img data-src="holder.js/100%x240/white/text:#grid-1-1">
          </div>
        </div>

      </div>
    </div>






    <!-- end of three -->



  </div>



  <hr>

  <p class="small text-muted">Built with &#9829; by <a href="https://keen.io">Keen IO</a></p>

</div>

<script type="text/javascript" src="../../assets/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="../../assets/lib/bootstrap/dist/js/bootstrap.min.js"></script>

<script type="text/javascript" src="../../assets/lib/holderjs/holder.js"></script>
<script>
    Holder.add_theme("white", { background:"#fff", foreground:"#a7a7a7", size:10 });
</script>

<script type="text/javascript" src="../../assets/lib/keen-js/dist/keen.min.js"></script>
<script type="text/javascript" src="../../assets/js/meta.js"></script>

</body>
</html>