<!DOCTYPE html>
<html>
<head>
  <title>Dashboard Starter UI, by Keen IO</title>
  <link rel="stylesheet" type="text/css" href="../../assets/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="../../assets/css/keen-dashboards.css" />

</head>
<body class="application">

<script type="text/javascript" charset="utf-8">

    $(function(){
        new Highcharts.Chart({
            chart: {
                renderTo: "ejemplo",
                type: 'column'
            },
            title: {
                text: "Ganancias productos vendidos"},
            xAxis: {
                categories: ['Chocolate', 'Pasta Semola', 'Celulosa', 'Madera', 'Azucar']
            },
            yAxis: {
                title:{
                    text: "Pesos"
                }
            },   series: [
                {
                    name: "Ganancias",

                    data: [<%=@ganancia_choco%>,<%=@ganancia_pastasemola%>,<%=@ganancia_celulo%>,<%=@ganancia_madera%>,<%=@ganancia_azucar%>]
                }]





        });

        new Highcharts.Chart({
            chart: {
                renderTo: "ejemplo7",
                type: 'column'
            },
            title: {
                text: "Volumen de productos vendidos"},
            xAxis: {
                categories: ['Chocolate', 'Pasta Semola', 'Celulosa', 'Madera', 'Azucar']
            },
            yAxis: {
                title:{
                    text: "Cantidad"
                }
            },
            series: [{
                name: "Volumen",
                color: 'darkblue',

                data: [<%=@volumen_choco%>,<%=@volumen_pastasemola%>,<%=@volumen_celulo%>,<%=@volumen_madera%>,<%=@volumen_azucar%>]
            }]





        });
        new Highcharts.Chart({
            chart:{
                renderTo: "ejemplo2",

                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'

            },
            title: {
                text: "Mercados de chocolate"},
            series: [{
                name: "Brands",
                colorByPoint: true,
                data: [{
                    name: "B2B",
                    y: <%=@b2b_choco %>
                }, {
                    name: "E-commerce",
                    y:<%=@ecommerce_choco %>,
                    sliced: true,
                    selected: true
                }, {
                    name: "Pedidos internacionales",
                    y:<%=@ftp_choco%>
                }
                ]
            }]


        });

        new Highcharts.Chart({
            chart:{
                renderTo: "ejemplo3",

                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'

            },
            title: {
                text: "Mercados del azucar"},
            series: [{
                name: "Brands",
                colorByPoint: true,
                data: [{
                    name: "Grupo 5",
                    y: 56.33
                }, {
                    name: "Grupo 1",
                    y: 24.030000000000005,
                    sliced: true,
                    selected: true
                },{
                    name: "Grupo 2",
                    y: 24.030000000000005,
                    sliced: true,
                    selected: true
                },{
                    name: "Comercio internacional",
                    y: 24.030000000000005,
                    sliced: true,
                    selected: true
                }]
            }]


        });

        new Highcharts.Chart({
            chart:{
                renderTo: "ejemplo4",

                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie'

            },
            title: {
                text: "Mercados de madera"},
            series: [{
                name: "Brands",
                colorByPoint: true,
                data: [{
                    name: "E-commerce",
                    y: 56.33
                }, {
                    name: "Comercio internacional",
                    y: 24.030000000000005,
                    sliced: true,
                    selected: true
                },{
                    name: "grupo 1",
                y: 24.030000000000005,
                sliced: true,
                selected: true
    },{name: "Grupo 3",
                    y: 24.030000000000005,
                    sliced: true,
                    selected: true
                }]
            }]


        });

    });

</script>

<h1 style="margin-top: -30px"> Reporte de productos y mercados</h1>
<hr>
<div class="container-fluid">
  <div class="row">

    <div class="col-sm-6">
      <div class="chart-wrapper">

        <div class="chart-stage">
          <div id="ejemplo"></div>
        </div>
      </div>
    </div>


    <div class="col-sm-6">
      <div class="chart-wrapper">

        <div class="chart-stage">
          <div id="ejemplo7"></div>
        </div>
      </div>
    </div>


  </div>


  <div class="row">

    <div class="col-sm-4">
      <div class="chart-wrapper">

        <div class="chart-stage">
          <div id="ejemplo2"></div>
        </div>
      </div>
    </div>

    <div class="col-sm-4">
      <div class="chart-wrapper">
        <div class="chart-stage">
          <div id="ejemplo3"></div>
        </div>

      </div>
    </div>

    <div class="col-sm-4">
      <div class="chart-wrapper">
        <div class="chart-stage">
          <div id="ejemplo4"></div>
        </div>

      </div>
    </div>

  </div>

  <hr>

  <p class="small text-muted">Built with &#9829; by <a href="https://keen.io">Keen IO</a></p>

</div>

<script type="text/javascript" src="../../assets/lib/jquery/dist/jquery.min.js"></script>
<script type="text/javascript" src="../../assets/lib/bootstrap/dist/js/bootstrap.min.js"></script>

<script type="text/javascript" src="../../assets/lib/holderjs/holder.js"></script>
<script>
    Holder.add_theme("white", { background:"#fff", foreground:"#a7a7a7", size:10 });
</script>

<script type="text/javascript" src="../../assets/lib/keen-js/dist/keen.min.js"></script>
<script type="text/javascript" src="../../assets/js/meta.js"></script>

</body>
</html>